<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./template/style/style.css">
  </head>

  <body>
    <nav>
      <div class="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li style="float:right;"><a href="/admin">admin</a></li>
        </ul>
      </div>
    </nav>
    <div class="add-main">
      <form method="POST" action="/insertarticle">
        <label for="arttitle">Article title</label>
        <div class="items">
          <input type="text" name="arttitle" id="arttitle">
        </div>
        <label for="content">Content</label>
        <div class="items">
          <textarea rows="15" cols="80" name="content" id="content"></textarea>
        </div>
        <label for="artimg">Article image</label>
        <div class="items">
          <input type="file" name="artimg" id="artimg">
        </div>
        <button type="submit">Add Article</button>
        <label id="error"></label>
      </form>
    </div>
    <footer>
      <p>Created By AMM &copy; 2017</p>
    </footer>
  </body>

</html>
