<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
</head>

<body>
    <form method="POST" action="/insertarticle">
        <label>Article image</label>
        <input type="file" name="artimg">
        <label>Article title</label>
        <input type="text" name="arttitle">

        <label>Content</label>
        <textarea rows="8" cols="80" name="content"></textarea>
        <input name="category" list="category">
          <datalist id="category">
            <option value="sports">
            <option value="science">
            <option value="art">
            <option value="history">
          </datalist>
        <button type="submit">Add Article</button>
        <label id="error"></label>
    </form>

</body>

</html>
