<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./template/style/style.css">
</head>

<body>
    <div class="main" id="main">
        <section class="articles">
            <button onclick="addarticle()"><i class="material-icons">note_add</i></button> {{#each p }}
            <div class="article">
                <h2>{{this.id}}{{this.title}}</h2>
                <p>{{this.text}}</p>
                <p>{{this.category}}</p>
                <p>{{this.time}}</p>
                </ br>
                <p>{{this.doa}}</p>
                <button id={{this.id}} value={{this.id}} onclick="deletearticle(this.id)"><i class="material-icons">delete</i></button>
                <button id={{this.id}} value={{this.id}} onclick="editarticle(this.id)"><i class="material-icons">update</i></button>
                <hr>
            </div>
            {{/each}}
        </section>
    </div>
    </footer>
    <p>Created By AMM &copy; 2017</p>
    <footer>
</body>


</html>

<script>
    function addarticle(id) {
        window.location = "/addarticle";
    }

    function deletearticle(id) {
        window.location = `/deletearticle/${id}`;
    }
    function editarticle(id) {
      console.log(id);
        window.location = `/editarticle/${id}`;
    }
</script>
