<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./template/style/style.css">
  </head>
  <body>
    <nav>
        <div class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#">About Me</a></li>
                <li style="float:right;"><a href="#">Contact Me</a></li>
            </ul>
        </div>
    </nav>

  <div class="article">
      <h2>{{title}}</h2>
      <h1>{{text}}</h1>
      <p>{{time}}</p>
      </ br>
      <p>{{doa}}</p>
      <hr>
  </div>

  </body>
</html>
